* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Slab', serif;
}

.containerx {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .3)), url(gift-1420830_1920.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 100px;
    width: 360px;
    height: 560px;
    position: relative;
    perspective: 1000px;
}

.sides {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7)), url(denim-165303_1920.jpg) no-repeat;
    background-size: cover;
    background-position-x: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0 deg);
    transform-origin: left;
    transition: transform 2s;
}

.right-side {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7)), url(denim-165303_1920.jpg) no-repeat;
    background-size: cover;
    background-position-x: -180px;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 2s;
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .7)), url(tracy_cover.jpeg) no-repeat;
    background-size: cover;
    z-index: -1;
    transform: translateZ(-300px);
    box-shadow: 40px 40px 80px #000;
    transition: z-index .4s step-end, transform 1s, box-shadow 1s;
}

.card:hover .left-side {
    transform: rotateY(-360deg);
}

.card:hover .right-side {
    transform: rotateY(360deg);
}

.card:hover .back-side {
    transform: translateZ(0);
    z-index: 1;
    box-shadow: 50px 50px 100px #000;
}

.happy-leading {
    color: #eee;
    font-size: 35px;
    margin: 20px 5px;
}

#down {
    margin-top: 84px;
}

.left-side .happy-leading,
.left-side {
    text-align: right;
}

.wishes {
    color: #fff;
    font-size: 22px;
    background-color: rgba(0, 0, 0, .4);
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.far {
    color: #eee;
}